@page
@model FilmClient.Pages.CreateDirectorModel
@{
    ViewData["Title"] = "Create Director";
}

<h1>Create a New Director</h1>

<form method="post">
    <div class="form-group">
        <label asp-for="Director.Name"></label>
        <input asp-for="Director.Name" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary" style="margin:4px">Create</button>
</form>

<a asp-page="Index">Back to Movies</a>
